{% extends 'base.html'%}
{%load static%}

{%block body %}



<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            {% for product in products %}
            
                <div class="product-box col-md-2 col-sm-6">
          
                    {% if product.PRDImage %}
                    <!-- Product image-->
                    {% if product.PRDDiscountPrice > 0 %}
                    <div class="badge green" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    {% endif %}

                    <a href="{{store.get_absolute_url}}">
                        <img class="card-img-top product_img" src="{{product.PRDImage.url}}" alt="..." />
                    </a>
                    {% else %}
                    <a href="{{store.get_absolute_url}}">
                        <img class="card-img-top product_img" src="{% static "img/no image.jpg" %}" alt="..." />
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p>Category : {{product.PRDCategory}}</p>
                            <h3 class="book-title"><a class="text-decoration-none" style="color: green; font-weight: bold;" href="{{store.get_absolute_url}}"> {{product}}</a></h3>
                            <!-- Product price-->
                            $ {{product.PRDPrice}}
                          
                            <p>
                                {% if product.PRDISNew %}
                                    <span class="badge blue">NEW</span>
                                {% endif %}
                                {% if product.PRDISBestSeller %}
                                    <span class="badge red">Bestseller</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                   
                
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>



<nav aria-label="Page navigation example">
{% if products.has_other_pages %}
    <ul class="pagination justify-content-center">
    {% if products.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
      {% endif %}

      {% for pages in products.paginator.page_range %}

        <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
        
      {% endfor %}
      
      {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
        </li>

      {% endif %}
    </ul>
    {% endif %}
  </nav> 
<!-- End Section-->

<h1> </h1>



{% endblock body %}




